* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

main {
    font-family: sans-serif;
    padding: 1em 1em;
}

.alert-info {
    display: flex;
    border: 1px solid lightgray;
    background-color: #ccfffe;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: center;
}

.alert-info a {
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: black;
}

main h1 {
    font-size: 45px;
    text-align: center;
    padding-top: .25em;
    padding-bottom: .5em;
    letter-spacing: 3px;
}

.nav-links {
    display: flex;
    flex-direction: column;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    margin: .5em 0;
}

li a {
    display: inline-block;
    background-color: lightgray;
    padding: 1em;
    width: calc(100% - 30px);
    text-align: center;
    color: royalblue;
    font-weight: 600;
    letter-spacing: 1px;
}

.header-img {
    display: block;
    width: auto;
    margin: 0 auto;
    padding-right: 1em;
}

img {
    width: 330px;
    height: 224px;
    margin: 0 auto;
    padding-top: .8em;
}

.main {
    padding-top: 1em;
    padding-bottom: 2em;
}
h2 {
    padding-bottom: .5em;
}
.sub-section {
    padding-bottom: 6em;
}

footer {
    display: flex;

}

footer div {
    flex-basis: 20%;
    justify-content: flex-end;

}

footer p {
    flex: auto;
}


/* screen sizes 700px and up */
@media screen and (min-width:700px) {

    .hidden-on-desktop {
        display: none;
    }
    .desktop-nav{
        /*border: 1px solid red;*/
        display: flex;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        flex-basis: 20%;

    }
    li a{
        background-color: transparent;
        justify-content: flex-end;

    }
   .desktop-nav h1{
        /*border: 1px solid purple;*/
        flex-basis: 80%;
        padding: 0;
       text-align: left;
    }

    img{
        padding-top: 1.5em;
        width:890px;
        height: 385px;
    }



























    /*main{*/
    /*    padding: 0em 0em;*/
    /*}*/
    /*main h1{*/
    /*    text-align: left;*/
    /*}*/
    /*.desktop-nav{*/
    /*    width: 100vw;*/
    /*    display: flex;*/
    /*}*/
    /*h1{*/
    /*    border: 1px solid blue;*/
    /*    flex-basis: 60%;*/
    /*}*/
    /*nav{*/
    /*    !*display: inline-block;*!*/
    /*    border: 1px solid red;*/
    /*    flex-basis: 40%;*/
    /*    !*all: unset;*!*/
    /*    display: inline;*/
    /*}*/
    /*img{*/
    /*    width: 890px;*/
    /*    height: 385px;*/
    /*}*/
    /*nav ul li{*/
    /*    width: auto;*/

    /*}*/

    /*li a {*/
    /*    background-color: transparent;*/
    /*    width: auto; !*calc(100% - 30px);*!*/
    /*    !*text-align: right;*!*/
    /*    color: royalblue;*/
    /*    font-weight: 600;*/
    /*    letter-spacing: 1px;*/
    /*    !*border: 2px solid purple;*!*/
    /*}*/

    /*.desktop-nav {*/
    /*    display: flex;*/
    /*    width: 100%;*/

    /*}*/

    /*h1 {*/
    /*    flex-basis: 20%;*/

    /*}*/

    /*nav {*/
    /*    display: flex;*/
    /*    flex-basis: auto;*/
    /*}*/

    /*ul li{*/

    /*    list-style: none;*/
    /*}*/

    /*ul {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*}*/
}




